// Polar Night
$nord0: #2e3440;
$nord1: #3b4252;
$nord2: #434c5e;
$nord3: #4c566a;
// Snow Storm
$nord4: #d8dee9;
$nord5: #e5e9f0;
$nord6: #eceff4;
// Frost
$nord7: #8fbcbb;
$nord8: #88c0d0;
$nord9: #81a1c1;
$nord10: #5e81ac;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $nord0;
  color: $nord6;
  font-family: Inter, sans-serif;
}

a {
  text-decoration: none;
  color: $nord6;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  padding: 0 2rem 0 2rem;
  z-index: 1;

  a {
    flex: 1;

    img {
      width: 4rem;
      height: 4rem;
    }
  }

  .menu {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      list-style: none;

      li {
        margin-left: 1rem;
        font-size: 1.2rem;
      }
    }
  }
}

main {
  transform: translateY(5rem);

  section.presentation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 5rem);

    .content-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 5rem;
        margin: 2rem;
      }

      .buttons .button {
        background-color: $nord7;
        color: $nord0;
        padding: 1rem;
        border-radius: 0.5rem;
        transition: all 1s;
      }
      .buttons .button:hover {
        background-color: $nord8;
      }
    }
  }
}